<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    Form to add a new Blog: <br><br>
    <form action="/add" method="POST">
        <label>Name of the Blog</label>
        <input type="text" name="name" id="name"><br>
        <label>Content of the Blog</label>
        <textarea id="body" name = "body"></textarea><br><br>
        <label>Author of the Blog</label>
        <input type="text" id="author" name="author"> <br><br>
        <input type="submit"></input>
    </form>

</body>

</html>